@model Twitter.Models.Home.HomeViewModel

<div id="Tweet" style="display: @(Model.HasFeeds ? "block" : "none")">
    @using (Ajax.BeginForm("Tweet", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId="TweetContent" }))
    {
        @Html.HiddenFor(m => m.DisplayFeed)
        @Html.DropDownListFor(m => Model.SelectedFeed, Model.FeedList, new { style = "margin-bottom: 20px;" })
        <br />
        @Html.TextAreaFor(m => m.Tweet, new { style = "margin-bottom: 20px; width: 90%; font-size: 16pt;", rows = 3, placeholder = "Compose a new tweet ..." })
        <br />
        <input type="submit" class="btn btn-primary" value="Tweet" /><span class="text-error">&nbsp; @Html.ValidationMessageFor(m => Model.Tweet)</span>
    }
</div>
<h3>Tweets</h3>
<div id="tweets">
    @foreach (var tweet in Model.Tweets)
    {
        <div class="well">
            <h3>
                <small>Posted by @Html.DisplayFor(t => tweet.BelongsTo.Owner.Name) in 
                    @Html.DisplayFor(t => tweet.BelongsTo.Name) at 
                    @Html.DisplayFor(t => tweet.PostDate)</small><br />
                @Html.DisplayFor(t => tweet.Content)
            </h3>
        </div>
    }
</div>